@import "variables";
@import "mixins";

@font-face {
	font-family: 'Droid Sans';
	src: url('@{path-fonts}/droid-sans/DroidSans.eot');
	src: url('@{path-fonts}/droid-sans/DroidSans.eot?#iefix') format('embedded-opentype'),
		 url('@{path-fonts}/droid-sans/DroidSans.woff') format('woff'),
		 url('@{path-fonts}/droid-sans/DroidSans.ttf') format('truetype'),
		 url('@{path-fonts}/droid-sans/DroidSans.svg#Droid Sans') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Droid Sans';
	src: url('@{path-fonts}/droid-sans/DroidSans-Bold.eot');
	src: url('@{path-fonts}/droid-sans/DroidSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url('@{path-fonts}/droid-sans/DroidSans-Bold.woff') format('woff'),
		 url('@{path-fonts}/droid-sans/DroidSans-Bold.ttf') format('truetype'),
		 url('@{path-fonts}/droid-sans/DroidSans-Bold.svg#Droid Sans') format('svg');
	font-style: normal;
	font-weight: bold;
}

body{
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
}

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tm-navbar-transparent{
	background: url("../../images/ricepaper_v3.png");
}
.wrap-site{
	position: relative;
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f5e5cc;
	box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
	&.sub-page{
		background: url("../../images/white_wall.png");
	}
}
.wrap-header-site{
  max-width: 1150px;
  .uk-navbar-brand{
	padding-left: 0;
  }
  .uk-navbar-nav{
	margin-top: 10px;
	li{
	  a{
		color: #e00073 !important;
		font-weight: 600 !important;
		&:hover{
		  color: #1e140b !important;
		}
	  }
	}
  }

  .my-second-crumb{
	margin-top: 30px;
	ul{
	  li{
		a{
		  color: #96704d;
		}
	  }
	}
  }
}

@media only screen and (max-width: 768px) {
  .wrap-header-site {
	.uk-navbar-brand,.uk-navbar-toggle{
	  color: #444444 !important;
	}
  }

  .my-second-crumb{
	margin-top: 0 !important;
  }
}

.home-banner{
	min-height: 341px;
	background-image: url("../../images/home-bg-banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-clip: border-box, border-box, padding-box;
	margin-top: -100px;
	-webkit-filter: brightness(.9);
	filter: brightness(.9);
	&.travel-guide{
		background-image: url("../../images/travelguide-bg-banner.jpg");
	}
}
.banner-slide{
	//-webkit-filter: brightness(.9);
	//-moz-filter: brightness(.9);
	//filter: brightness(.9);
  	position: relative;
}
.uk-sticky-placeholder{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.my-navbar{
	min-height: 70px;
	padding: 10px 0;
	background-color: rgba(0, 0, 0, 0);
	.uk-navbar-nav{
		li{
			a{
				color: #fff;
				font-weight: 600;
				&:hover{
					background-color: transparent;
					color: #22272a;
				}
			}
		}
	}
	.uk-navbar-center{
		max-width: 100%;
	}
}
@media only screen and (max-width: 768px){
	.my-navbar{
		.brand-mobile{
			color: #fff;
		}
		.uk-navbar-toggle{
			color: #fff;
		}
	}
}
.nav-under-banner{
	background-image: url("../../images/bgnav-underbanner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 60px;
	.uk-navbar-nav{
		margin-top: 10px;
		&>li{
			a{
				color: #894401;
				&:hover{
					color: #e10074;
					background-color: transparent;
				}
			  &:focus{
				background-color: transparent;
			  }
			}
			&:first-child{
				a{
					font-weight: 700;	
					i{
						font-size: 30px;
					}
				}
			}
		}
	}

  .uk-dropdown{
	margin-top: 10px;
	background-image: url("../../images/bgnav-underbanner.jpg");
	background-repeat: repeat;
  }
}

.home-reason{
	text-align: center;
	h1{
		font-family: serif;
		display: inline-block;
		color: #a95401;
		font-size: 30px;
		border-bottom: 2px dashed #a95401;
		margin-bottom: 0;
		&.clear-line{
			border-bottom: none;
		}
	}
	p{
		color: #a95401;
		font-family: serif;
		font-style: italic;
		font-size: 18px;
		font-weight: 500;
	}
}
@media only screen and (max-width: 480px){
	.home-reason{
		text-align: left;
		h1{
			font-size: 24px;
			line-height: 28px;
		}
	}
}
@media only screen and (max-width: 320px){
	.home-reason{
		h1{
			font-size: 22px;
		}
	}
}

.reason-list{
	.uk-list{
		li{
			font-size: 14px;
			color: #a95401;
		}
	}
}

.nav-holiday{
	text-align: center;
	background-color: #f5f5f5;
	border: 1px solid #dadada;
	border-radius: 4px;
	margin-top: 15px;
	.uk-navbar-nav{
		float: none;
		display: inline-block;
		margin-top: 5px;
		&>li{
			&>span{
				display: inline-block;
				vertical-align: middle;
				margin-top: 10px;
				color: #6b300f;
				font-weight: 600;
			  	cursor: pointer;
			}
			&>a{
				font-style: italic;
				color: #807f7f;
				padding: 0 25px;
				img{
					vertical-align: middle;
					margin-top: -5px;
				}
			}
		}

		.uk-nav-navbar{
			&>li{
				&>a{
					&:hover{
						background-color: #6b300f;
					}
				}
			}
		}

		.nav-holiday-justify{
			box-shadow: 0px 0px 0px 1px rgba(218, 218, 218, 0.7);
				-moz-box-shadow: 0px 0px 0px 1px rgba(218, 218, 218, 0.7);
				-webkit-box-shadow: 0px 0px 0px 1px rgba(218, 218, 218, 0.7);
		}
	}
	.uk-navbar-center{
		max-width: 100%;
	}
	.browswerby{
		color: #6b300f;
		i.uk-icon-bars{
			display: inline-block;
			vertical-align: middle;
			margin-top: -3px;
		}
	}
}

@media only screen and (max-width:767px){
	.nav-holiday{
		.uk-navbar-nav{
			&>li{
				&>a{
					padding: 0 15px;
				}
			}
		}
	}
}
@media only screen and (max-width: 480px){
	.nav-holiday{
		.uk-navbar-nav{
			display: inherit;
			margin-top: 0;
			&>li{
				float: none;
				text-align: left;
				span{
					padding-left: 15px;
					//display: none;
				}
				&>a{
					img{
						margin-right: 10px;
					}
					i{
						font-size: 10px;
					}
				}
			}

			.nav-holiday-justify{
				width: 100%;
				
			}
		}
	}
}

.dashed-space{
	width: 138px;
	height: 39px;
	background-image: url("../../images/dashed-space.png");
	background-repeat: no-repeat;
	background-position: center;
	margin: 15px auto 10px;
}

.wrap-browser{
	margin-bottom: 50px;
}
.browser-by-item{
	border-radius: 4px;
	margin-bottom: 15px !important;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	.uk-panel-teaser{
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		overflow: hidden;
		-webkit-transform: translateZ(0);
		transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		a{
			display: block;
			font-size: 0;
		}
	}
	.browser-item-info{
		a{
			color: #6b300f;
			margin-bottom: 10px;
			display: inline-block;
			&:hover{
				text-decoration: none;
				color: #e10074;
			}
		}
		span{
			font-family: 'Merriweather', serif;
			display: block;
			color: #a95401;
			font-style: italic;
			font-size: 12px;
			margin-bottom: 10px;
		}
	}
	.browser-item-price{
		img{
			margin-right: 5px;
		}
		span{
			&.days{
				font-size: 14px;
				color: #6b300f;
				display: inline-block;
				vertical-align: middle;
				margin-top: 5px;
			}
			&.price{
				font-size: 16px;
				color: #658103;
			}
		}
	}
	&:hover{
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
		.uk-panel-teaser{
			-webkit-filter: sepia(.6);
			filter: sepia(.6);
		}
	}
}

.my-accordion{
	border: 1px solid #bebfc0;
	margin-bottom: 20px;
	.uk-accordion-title{
		display: block;
		text-decoration: none;
		margin-bottom: 0;
		background-color: transparent;
		color: #566f00;
		font-size: 16px;
		border-top: 1px solid #bebfc0;
		padding: 10px 15px;
	}
	.uk-accordion-title:first-child{
		border: none;
	}
	.grid-month{
		a{
			text-transform: uppercase;
			color: #6d2903;
		}
	}
}

.side-title{
	h4{
		margin-bottom: 5px;
		color: #6b300f;
		font-size: 20px;
		text-transform: uppercase;
	}
	span{
		color: #6b300f;
	}
}

.rate-aline{
	margin-bottom: 30px;
	p{
		color: #6b300f;
		margin-top: 10px;
	}
}

.other-countries{
	.uk-list{
		li{
			a{
				color: #6b300f;
				display: inline-block;
				vertical-align: middle;
				margin-top: 3px;
				text-decoration: none;
				-webkit-transition: padding-left .4s ease-in-out;
				-moz-transition: padding-left .4s ease-in-out;
				transition: padding-left .4s ease-in-out;
				&:hover{
					padding-left: 5px;
				}
			}
		}
	}
}

.wrap-under-banner{
	//margin-top: -36px;
	position: relative;
	z-index: 1;
	.border-top{
		background-image: url("../../images/bg-border-top.png");
		background-repeat: repeat-x;
		background-position: center top;
		min-height: 10px;
	  width: 100%;
	  position: absolute;
	  top: -10px;
	}
	.border-bottom{
		background-image: url("../../images/bg-border-bot.png");
		background-repeat: repeat-x;
		background-position: center bottom;
		min-height: 10px;
	}
	.main-under-banner{
		background-color: #fff;
		padding: 30px 0 10px;
	}
}
@media only screen and (max-width: 480px){
	.wrap-under-banner{
		margin-top: -60px;
	}
}

.world-countries{
	.uk-list{
		li{
			color: #e10074;
			text-transform: uppercase;
			font-size: 18px;
			margin-bottom: 20px;
		}
	}
}

.trip-item{
	background-color: transparent;
	.uk-panel-teaser{
		text-align: center;
	}
	.trip-item-info{
		a{
			font-family: 'Roboto', sans-serif;
			color: #e10074;
			font-size: 18px;
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.tonkin-content{
	p{
		font-size: 14px;
		font-style: italic;
		line-height: 25px;
		a{
			color: #e10074;
		}
	}
	.uk-subnav{
		margin-left: -5px;
		li{
			margin-top: 0;
			padding-left: 5px;
			a{
				color: #930101;
				font-size: 14px;
				&:hover{
					color: #e10074;
				}	
			}
			&.active{
				a{
					color: #e10074;
				}
			}
		}
		&>:nth-child(n+2)::before{
			margin-right: 5px !important;
			border-color: #930101;
		}
	}
}

.list-tonkin-travel{	
	.line{
		border-top: 1px dashed #e10074;	
	}
	.uk-list{
		li{
			color: #e10074;
			margin-bottom: 5px;
		}
	}
}
@media only screen and(max-width: 480px){
	.list-tonkin-travel{
		.uk-list{
			
		}
	}
}

.wrap-wheather-api{
	h1{
		font-size: 24px;
	  line-height: 24px;
		text-transform: uppercase;
		color: #e10074;
		text-align: center;
	  position: relative;
	  overflow: hidden;
	  &:after,&:before{
		content: '';
		height: 1px;
		width: 50%;
		position: absolute;
		z-index: 1;
		background-color: #e10074;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	  }
	  &:after{
		right: -85px;
	  }
	  &:before{
		left: -85px;
	  }
	}
}
@media only screen and (max-width: 480px){
	.wrap-wheather-api{
		h1{
			line-height: 27px;
		}
	}
}

.guide-item{
	.title-guide{
		color: #000;
		font-size: 24px;
		text-align: center;
		border-bottom: 2px dashed #e10074;
	}
	.guide-item-info{
		a{
			color: #e10074;
			font-size: 20px;
			margin-bottom: 5px;
			&:hover{
				text-decoration: none;
				color: #e82087;
			}
		}
		span{
			display: inline-block;
			font-size: 14px;
		}
	}
	.uk-panel-box{
		border-radius: 4px;
		background-color: #fff;
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
		.uk-panel-teaser{
			position: relative;
			margin-bottom: 30px;
			.rectangle{
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				position: relative;
				overflow: hidden;
				-webkit-transition: all .4s ease-in-out;
				-moz-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;
				&:after{
					content: "";
					display: block;
					padding-bottom: 70%;
				}
				.inner{
					position: absolute;
					width: 100%;
					height: 100%;
					a{
						height: 100%;
						display: block;
						font-size: 0;
						overflow: hidden;
					}
				}
			}
			.terraces{
				width: 50px;
				height: 50px;
				border-radius: 50px;
				border: 2px solid #fff;
				position: absolute;
				bottom: -25px;
				left: 50%;
				margin-right: -50%;
				transform: translate(-50%, 0);
				z-index: 10;
				overflow: hidden;
			}
		}
		&:hover{
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
			.rectangle{
				-webkit-filter: sepia(1);
				filter: sepia(1);
			}
		}
	}
}

.nav-templink{
  position: absolute;
  top: -36px;
  width: 100%;
  .right-templink{
	  text-align: right;
  }
  .list-linktemp{
	  display: inline-block;
	  li{
		  a{
			  color: #fff;
		  }
	  }
  }
}

.box-banner{
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.42);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.42);
	box-shadow: 0 1px 5px rgba(0,0,0,.42);
	border-radius: 5px;
	.uk-overlay{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
}

.tourdetail-slide{
  .box-banner{
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.42);
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.42);
	box-shadow: inset 0 0 5px rgba(0,0,0,.42);

  }
}

.my-crumb{
	position: relative;
	margin-bottom: 30px;
	margin-top: -45px;
	ul{
		li{
			a{
				color: #fff;
				&:hover{
					color: #fff;
					text-decoration: underline;
				}
			}
		}
	}
}

.panel-short-intro{
	p{
		font-size: 14px;
	}
}

.vietnam-guide-box{
	.uk-overlay{
		display: block;
		img.uk-overlay-scale{
			width: 100%;
		}
	  .uk-ignore{
		padding: 10px;
		a{
		  color: #fff;
		}
	  }
	}
	.vietnam-short{
		p{
			margin-bottom: 0;
			font-size: 14px;
		}
		a{
			border-radius: 5px;
			font-size: 14px;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			transition: all .4s ease;
		}
		.trip-idea-name{
			margin-bottom: 0;
			a{
				font-family: 'Droid Sans', sans-serif;	
				color: #e10074;
				text-decoration: none;
				font-size: 18px;
			}
		}
	}
	.uk-overlay-panel{
		h4{
			font-size: 20px;
			margin-top: 0;
			text-shadow: 0 1px 3px rgba(0,0,0,.57);
		}
		.see-more-trip{
			color: #fff;
		}
	}
}

.trip-title{
	color: #999899;
	font-size: 28px;
}
@media only screen and (max-width: 480px){
	.trip-title{
		font-size: 24px;
		line-height: 28px;
	}
}

.vietnam-trip{
	.uk-overlay{
		display: block;
		img.uk-overlay-scale{
			width: 100%;
		}
	}
	.vietnam-trip-info{
		text-align: center;
		&>span{
			font-size: 14px;
			display: inline-block;
			margin-bottom: 5px;
			color: #777;
		}
		a{
			color: #e00073;
			font-size: 18px;
			text-decoration: none;
			display: inline-block;
			margin-bottom: 5px;
			&:hover{
				color: #ee469c;
			}
		}
		.uk-grid-divider{
			margin-left: -5px;
			margin-right: -5px;
			&>*{
				padding-left: 5px;
				padding-right: 5px;
			}
			.nav-days{
				font-size: 14px;
			}
		}
	}
}


.footer{
	background: url("../../images/tweed.png");
}
@media only screen and (min-width: 768px){
	.footer{
		min-height: 324px;
		background-image: url("../../images/bg-footer-1.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}
.main-footer{
	padding-top: 20px;
	.box-column-footer{
		h1{
			text-transform: uppercase;
			color: #ccc;
			font-size: 14px;
			font-weight: 600;
			line-height: 24px;
			margin-bottom: 0;
		}
		.uk-list{
			margin-top: 0;
			li{
				a{
					color: #ccc;
					text-decoration: none;
					-webkit-transition: color .4s ease-in-out;
					-moz-transition: color .4s ease-in-out;
					transition: color .4s ease-in-out;
					i{
						font-size: 10px;
						vertical-align: middle;
					}
					&:hover{
						color: gray;
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 768px){
	.main-footer{
		padding-top: 150px;
		.box-column-footer{
			h1{
				font-size: 16px;
			}
		}
	}
}

.travel-style-box{
	text-align: center;
	.panel-short-intro{
		a{
			text-decoration: none;
			font-weight: bold;
			color: #e10074;
			&:hover{
				color: #ee3695;
			}
		}
	}
}

.list-about-link{
	li{
		margin-bottom: 10px;
		border-bottom: 1px solid #c3c3c3;
		padding-bottom: 10px;
		&:last-child{
			border-bottom: none;
		}
		a{
			text-decoration: none;
			color: #807e7f;
			&:hover{
				color: #c7afbb;
			}
		}
	}
}

.about-box{
	.panel-short-intro{
		a{
			text-decoration: none;
			color: #e10074;
			font-weight: bold;
			&:hover{
				color: #f8389b;
			}
		}
		p{
			margin-top: 5px;
		}
	}
}

.table-weather{
  border: 1px solid #aaa;
  background-color: #fff;
  tr{
	border-bottom: 1px solid #b2b2b2;
	td{
	  border-right: 1px solid #b2b2b2;
	}
  }
  th{
	border-right: 1px solid #b2b2b2;
  }
}

.slider-partner{
  .uk-slider{
	li{
	  a{
		display: block;
		font-size: 0;
	  }
	  span{
		display: block;
		text-align: center;
		color: #ccc;
		margin-top: 10px;
	  }
	}
  }
}

.modal-countries{
  .uk-modal-dialog{
	width: 300px;
  }
}

.title-blog{
  font-family: "Arvo";
  font-size: 24px;
  line-height: 24px;
}

.title-day{
  font-family: "Arvo";
  font-size: 16px;
  line-height: 22px;
}

.tab-content{
  background-color: #fff;
  border: 1px solid #dddddd;
  border-top: none;
  .tab-panel{
	padding: 10px;
  }
}

.tabRespon{
  li{
	a{
	  font-weight: 600;
	  color: #999899;
	  &:hover{
		color: #999899;
	  }
	}
  }
}

.new-style-form{
  input,textarea{
	background-color: transparent !important;
	border-color: #bebfc0 !important;
  }
}

.new-label{
  margin-right: 10px;
}

.special-control{
  margin-top: 10px;
}

@media (min-width: 961px){
  .uk-form-horizontal .uk-form-label {
	width: 250px;
  }

  .uk-form-horizontal .uk-form-controls{
	margin-left: 265px;
  }

  //.special-control{
	//margin-left: 35px;
	//margin-top: 10px;
  //}
}

@media (max-width: 481px){
  .new-label{
	display: block;
	margin-right: 0;
  }
}

.inner-trip-search{
  width: 300px;
  max-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.inner-trip-search{
  .trip-search-content{
	background-color: #f3f3f3;
	padding: 10px;
  }

  .uk-tab{
	li{
	  a{
		text-decoration: none;
		border-color: transparent;
		background-color: #fff;
		color: #000;
	  }
	  &.uk-active{
		a{
		  background: #f3f3f3 !important;
		}
	  }
	}
  }
}

.form-search-trip{
  .uk-form-label{
	width: 100px;
	color: #000;
  }
  .uk-form-controls{
	margin-left: 115px;
  }

  .btn-search-trip{
	background-color: #ff0300;
	color: #ffffff;
  }
}

@media (max-width: 960px){
  .form-search-trip{
	.uk-form-label{
	  float: left;
	  font-weight: normal;
	  margin-top: 5px;
	  margin-bottom: 0;
	}
  }
}
