.reason-title{
	font-family: serif;
}

.line-clamp {
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	position: relative;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 !important;
}

.line-clamp:after {
	content: '...';
	text-align: right;
	bottom: 0;
	right: 0;
	width: 25%;
	display: block;
	position: absolute;
	height: calc(1em * 1.5);
	//background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
}

@supports (-webkit-line-clamp: 1) {
	.line-clamp:after {
		display: none !important;
	}
}

.line-clamp-1 {
	-webkit-line-clamp: 1;
	height: calc(1em * 1.5 * 1);
}

.line-clamp-2 {
	-webkit-line-clamp: 2;
	height: calc(1em * 1.5 * 2);
}

.line-clamp-3 {
	-webkit-line-clamp: 3;
	height: calc(1em * 1.5 * 3);
}

.line-clamp-4 {
	-webkit-line-clamp: 4;
	height: calc(1em * 1.5 * 4);
}

.line-clamp-5 {
	-webkit-line-clamp: 5;
	height: calc(1em * 1.5 * 5);
}

.color-1{
  color: @color-1;
}

.color-2{
  color: @color-2;
}

.color-3{
  color: @color-3;
}

.color-4{
  color: @color-4;
}

.bg-color-5{
  background-color: @color-5;
}

.bg-color-6{
  background-color: @color-6;
}