.reason-title {
  font-family: serif;
}
.line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}
.line-clamp:after {
  content: '...';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  height: calc(1.5em);
}
@supports (-webkit-line-clamp: 1) {
  .line-clamp:after {
    display: none !important;
  }
}
.line-clamp-1 {
  -webkit-line-clamp: 1;
  height: calc(1.5em);
}
.line-clamp-2 {
  -webkit-line-clamp: 2;
  height: calc(3em);
}
.line-clamp-3 {
  -webkit-line-clamp: 3;
  height: calc(4.5em);
}
.line-clamp-4 {
  -webkit-line-clamp: 4;
  height: calc(6em);
}
.line-clamp-5 {
  -webkit-line-clamp: 5;
  height: calc(7.5em);
}
.color-1 {
  color: #8606A5;
}
.color-2 {
  color: #FF0408;
}
.color-3 {
  color: #7030A0;
}
.color-4 {
  color: #F79646;
}
.bg-color-5 {
  background-color: #F4E2D8;
}
.bg-color-6 {
  background-color: #cccccc;
}
@font-face {
  font-family: 'Droid Sans';
  src: url('../../fonts/droid-sans/DroidSans.eot');
  src: url('../../fonts/droid-sans/DroidSans.eot?#iefix') format('embedded-opentype'), url('../../fonts/droid-sans/DroidSans.woff') format('woff'), url('../../fonts/droid-sans/DroidSans.ttf') format('truetype'), url('../../fonts/droid-sans/DroidSans.svg#Droid Sans') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Droid Sans';
  src: url('../../fonts/droid-sans/DroidSans-Bold.eot');
  src: url('../../fonts/droid-sans/DroidSans-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/droid-sans/DroidSans-Bold.woff') format('woff'), url('../../fonts/droid-sans/DroidSans-Bold.ttf') format('truetype'), url('../../fonts/droid-sans/DroidSans-Bold.svg#Droid Sans') format('svg');
  font-style: normal;
  font-weight: bold;
}
body {
  font-family: 'Droid Sans', sans-serif;
  font-weight: normal;
}
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tm-navbar-transparent {
  background: url("../../images/ricepaper_v3.png");
}
.wrap-site {
  position: relative;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5e5cc;
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
}
.wrap-site.sub-page {
  background: url("../../images/white_wall.png");
}
.wrap-header-site {
  max-width: 1150px;
}
.wrap-header-site .uk-navbar-brand {
  padding-left: 0;
}
.wrap-header-site .uk-navbar-nav {
  margin-top: 10px;
}
.wrap-header-site .uk-navbar-nav li a {
  color: #e00073 !important;
  font-weight: 600 !important;
}
.wrap-header-site .uk-navbar-nav li a:hover {
  color: #1e140b !important;
}
.wrap-header-site .my-second-crumb {
  margin-top: 30px;
}
.wrap-header-site .my-second-crumb ul li a {
  color: #96704d;
}
@media only screen and (max-width: 768px) {
  .wrap-header-site .uk-navbar-brand,
  .wrap-header-site .uk-navbar-toggle {
    color: #444444 !important;
  }
  .my-second-crumb {
    margin-top: 0 !important;
  }
}
.home-banner {
  min-height: 341px;
  background-image: url("../../images/home-bg-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-clip: border-box, border-box, padding-box;
  margin-top: -100px;
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
}
.home-banner.travel-guide {
  background-image: url("../../images/travelguide-bg-banner.jpg");
}
.banner-slide {
  position: relative;
}
.uk-sticky-placeholder {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.my-navbar {
  min-height: 70px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0);
}
.my-navbar .uk-navbar-nav li a {
  color: #fff;
  font-weight: 600;
}
.my-navbar .uk-navbar-nav li a:hover {
  background-color: transparent;
  color: #22272a;
}
.my-navbar .uk-navbar-center {
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  .my-navbar .brand-mobile {
    color: #fff;
  }
  .my-navbar .uk-navbar-toggle {
    color: #fff;
  }
}
.nav-under-banner {
  background-image: url("../../images/bgnav-underbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60px;
}
.nav-under-banner .uk-navbar-nav {
  margin-top: 10px;
}
.nav-under-banner .uk-navbar-nav > li a {
  color: #894401;
}
.nav-under-banner .uk-navbar-nav > li a:hover {
  color: #e10074;
  background-color: transparent;
}
.nav-under-banner .uk-navbar-nav > li a:focus {
  background-color: transparent;
}
.nav-under-banner .uk-navbar-nav > li:first-child a {
  font-weight: 700;
}
.nav-under-banner .uk-navbar-nav > li:first-child a i {
  font-size: 30px;
}
.nav-under-banner .uk-dropdown {
  margin-top: 10px;
  background-image: url("../../images/bgnav-underbanner.jpg");
  background-repeat: repeat;
}
.home-reason {
  text-align: center;
}
.home-reason h1 {
  font-family: serif;
  display: inline-block;
  color: #a95401;
  font-size: 30px;
  border-bottom: 2px dashed #a95401;
  margin-bottom: 0;
}
.home-reason h1.clear-line {
  border-bottom: none;
}
.home-reason p {
  color: #a95401;
  font-family: serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  .home-reason {
    text-align: left;
  }
  .home-reason h1 {
    font-size: 24px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 320px) {
  .home-reason h1 {
    font-size: 22px;
  }
}
.reason-list .uk-list li {
  font-size: 14px;
  color: #a95401;
}
.nav-holiday {
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid #dadada;
  border-radius: 4px;
  margin-top: 15px;
}
.nav-holiday .uk-navbar-nav {
  float: none;
  display: inline-block;
  margin-top: 5px;
}
.nav-holiday .uk-navbar-nav > li > span {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  color: #6b300f;
  font-weight: 600;
  cursor: pointer;
}
.nav-holiday .uk-navbar-nav > li > a {
  font-style: italic;
  color: #807f7f;
  padding: 0 25px;
}
.nav-holiday .uk-navbar-nav > li > a img {
  vertical-align: middle;
  margin-top: -5px;
}
.nav-holiday .uk-navbar-nav .uk-nav-navbar > li > a:hover {
  background-color: #6b300f;
}
.nav-holiday .uk-navbar-nav .nav-holiday-justify {
  box-shadow: 0px 0px 0px 1px rgba(218, 218, 218, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(218, 218, 218, 0.7);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(218, 218, 218, 0.7);
}
.nav-holiday .uk-navbar-center {
  max-width: 100%;
}
.nav-holiday .browswerby {
  color: #6b300f;
}
.nav-holiday .browswerby i.uk-icon-bars {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}
@media only screen and (max-width: 767px) {
  .nav-holiday .uk-navbar-nav > li > a {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 480px) {
  .nav-holiday .uk-navbar-nav {
    display: inherit;
    margin-top: 0;
  }
  .nav-holiday .uk-navbar-nav > li {
    float: none;
    text-align: left;
  }
  .nav-holiday .uk-navbar-nav > li span {
    padding-left: 15px;
  }
  .nav-holiday .uk-navbar-nav > li > a img {
    margin-right: 10px;
  }
  .nav-holiday .uk-navbar-nav > li > a i {
    font-size: 10px;
  }
  .nav-holiday .uk-navbar-nav .nav-holiday-justify {
    width: 100%;
  }
}
.dashed-space {
  width: 138px;
  height: 39px;
  background-image: url("../../images/dashed-space.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px auto 10px;
}
.wrap-browser {
  margin-bottom: 50px;
}
.browser-by-item {
  border-radius: 4px;
  margin-bottom: 15px !important;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.browser-by-item .uk-panel-teaser {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.browser-by-item .uk-panel-teaser a {
  display: block;
  font-size: 0;
}
.browser-by-item .browser-item-info a {
  color: #6b300f;
  margin-bottom: 10px;
  display: inline-block;
}
.browser-by-item .browser-item-info a:hover {
  text-decoration: none;
  color: #e10074;
}
.browser-by-item .browser-item-info span {
  font-family: 'Merriweather', serif;
  display: block;
  color: #a95401;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 10px;
}
.browser-by-item .browser-item-price img {
  margin-right: 5px;
}
.browser-by-item .browser-item-price span.days {
  font-size: 14px;
  color: #6b300f;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}
.browser-by-item .browser-item-price span.price {
  font-size: 16px;
  color: #658103;
}
.browser-by-item:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.browser-by-item:hover .uk-panel-teaser {
  -webkit-filter: sepia(0.6);
  filter: sepia(0.6);
}
.my-accordion {
  border: 1px solid #bebfc0;
  margin-bottom: 20px;
}
.my-accordion .uk-accordion-title {
  display: block;
  text-decoration: none;
  margin-bottom: 0;
  background-color: transparent;
  color: #566f00;
  font-size: 16px;
  border-top: 1px solid #bebfc0;
  padding: 10px 15px;
}
.my-accordion .uk-accordion-title:first-child {
  border: none;
}
.my-accordion .grid-month a {
  text-transform: uppercase;
  color: #6d2903;
}
.side-title h4 {
  margin-bottom: 5px;
  color: #6b300f;
  font-size: 20px;
  text-transform: uppercase;
}
.side-title span {
  color: #6b300f;
}
.rate-aline {
  margin-bottom: 30px;
}
.rate-aline p {
  color: #6b300f;
  margin-top: 10px;
}
.other-countries .uk-list li a {
  color: #6b300f;
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
  text-decoration: none;
  -webkit-transition: padding-left 0.4s ease-in-out;
  -moz-transition: padding-left 0.4s ease-in-out;
  transition: padding-left 0.4s ease-in-out;
}
.other-countries .uk-list li a:hover {
  padding-left: 5px;
}
.wrap-under-banner {
  position: relative;
  z-index: 1;
}
.wrap-under-banner .border-top {
  background-image: url("../../images/bg-border-top.png");
  background-repeat: repeat-x;
  background-position: center top;
  min-height: 10px;
  width: 100%;
  position: absolute;
  top: -10px;
}
.wrap-under-banner .border-bottom {
  background-image: url("../../images/bg-border-bot.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  min-height: 10px;
}
.wrap-under-banner .main-under-banner {
  background-color: #fff;
  padding: 30px 0 10px;
}
@media only screen and (max-width: 480px) {
  .wrap-under-banner {
    margin-top: -60px;
  }
}
.world-countries .uk-list li {
  color: #e10074;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
}
.trip-item {
  background-color: transparent;
}
.trip-item .uk-panel-teaser {
  text-align: center;
}
.trip-item .trip-item-info a {
  font-family: 'Roboto', sans-serif;
  color: #e10074;
  font-size: 18px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tonkin-content p {
  font-size: 14px;
  font-style: italic;
  line-height: 25px;
}
.tonkin-content p a {
  color: #e10074;
}
.tonkin-content .uk-subnav {
  margin-left: -5px;
}
.tonkin-content .uk-subnav li {
  margin-top: 0;
  padding-left: 5px;
}
.tonkin-content .uk-subnav li a {
  color: #930101;
  font-size: 14px;
}
.tonkin-content .uk-subnav li a:hover {
  color: #e10074;
}
.tonkin-content .uk-subnav li.active a {
  color: #e10074;
}
.tonkin-content .uk-subnav > :nth-child(n+2)::before {
  margin-right: 5px !important;
  border-color: #930101;
}
.list-tonkin-travel .line {
  border-top: 1px dashed #e10074;
}
.list-tonkin-travel .uk-list li {
  color: #e10074;
  margin-bottom: 5px;
}
.wrap-wheather-api h1 {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #e10074;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.wrap-wheather-api h1:after,
.wrap-wheather-api h1:before {
  content: '';
  height: 1px;
  width: 50%;
  position: absolute;
  z-index: 1;
  background-color: #e10074;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.wrap-wheather-api h1:after {
  right: -85px;
}
.wrap-wheather-api h1:before {
  left: -85px;
}
@media only screen and (max-width: 480px) {
  .wrap-wheather-api h1 {
    line-height: 27px;
  }
}
.guide-item .title-guide {
  color: #000;
  font-size: 24px;
  text-align: center;
  border-bottom: 2px dashed #e10074;
}
.guide-item .guide-item-info a {
  color: #e10074;
  font-size: 20px;
  margin-bottom: 5px;
}
.guide-item .guide-item-info a:hover {
  text-decoration: none;
  color: #e82087;
}
.guide-item .guide-item-info span {
  display: inline-block;
  font-size: 14px;
}
.guide-item .uk-panel-box {
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.guide-item .uk-panel-box .uk-panel-teaser {
  position: relative;
  margin-bottom: 30px;
}
.guide-item .uk-panel-box .uk-panel-teaser .rectangle {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.guide-item .uk-panel-box .uk-panel-teaser .rectangle:after {
  content: "";
  display: block;
  padding-bottom: 70%;
}
.guide-item .uk-panel-box .uk-panel-teaser .rectangle .inner {
  position: absolute;
  width: 100%;
  height: 100%;
}
.guide-item .uk-panel-box .uk-panel-teaser .rectangle .inner a {
  height: 100%;
  display: block;
  font-size: 0;
  overflow: hidden;
}
.guide-item .uk-panel-box .uk-panel-teaser .terraces {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #fff;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  z-index: 10;
  overflow: hidden;
}
.guide-item .uk-panel-box:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.guide-item .uk-panel-box:hover .rectangle {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}
.nav-templink {
  position: absolute;
  top: -36px;
  width: 100%;
}
.nav-templink .right-templink {
  text-align: right;
}
.nav-templink .list-linktemp {
  display: inline-block;
}
.nav-templink .list-linktemp li a {
  color: #fff;
}
.box-banner {
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.42);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.42);
  border-radius: 5px;
}
.box-banner .uk-overlay {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tourdetail-slide .box-banner {
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.42);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.42);
}
.my-crumb {
  position: relative;
  margin-bottom: 30px;
  margin-top: -45px;
}
.my-crumb ul li a {
  color: #fff;
}
.my-crumb ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.panel-short-intro p {
  font-size: 14px;
}
.vietnam-guide-box .uk-overlay {
  display: block;
}
.vietnam-guide-box .uk-overlay img.uk-overlay-scale {
  width: 100%;
}
.vietnam-guide-box .uk-overlay .uk-ignore {
  padding: 10px;
}
.vietnam-guide-box .uk-overlay .uk-ignore a {
  color: #fff;
}
.vietnam-guide-box .vietnam-short p {
  margin-bottom: 0;
  font-size: 14px;
}
.vietnam-guide-box .vietnam-short a {
  border-radius: 5px;
  font-size: 14px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}
.vietnam-guide-box .vietnam-short .trip-idea-name {
  margin-bottom: 0;
}
.vietnam-guide-box .vietnam-short .trip-idea-name a {
  font-family: 'Droid Sans', sans-serif;
  color: #e10074;
  text-decoration: none;
  font-size: 18px;
}
.vietnam-guide-box .uk-overlay-panel h4 {
  font-size: 20px;
  margin-top: 0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.57);
}
.vietnam-guide-box .uk-overlay-panel .see-more-trip {
  color: #fff;
}
.trip-title {
  color: #999899;
  font-size: 28px;
}
@media only screen and (max-width: 480px) {
  .trip-title {
    font-size: 24px;
    line-height: 28px;
  }
}
.vietnam-trip .uk-overlay {
  display: block;
}
.vietnam-trip .uk-overlay img.uk-overlay-scale {
  width: 100%;
}
.vietnam-trip .vietnam-trip-info {
  text-align: center;
}
.vietnam-trip .vietnam-trip-info > span {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 5px;
  color: #777;
}
.vietnam-trip .vietnam-trip-info a {
  color: #e00073;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}
.vietnam-trip .vietnam-trip-info a:hover {
  color: #ee469c;
}
.vietnam-trip .vietnam-trip-info .uk-grid-divider {
  margin-left: -5px;
  margin-right: -5px;
}
.vietnam-trip .vietnam-trip-info .uk-grid-divider > * {
  padding-left: 5px;
  padding-right: 5px;
}
.vietnam-trip .vietnam-trip-info .uk-grid-divider .nav-days {
  font-size: 14px;
}
.footer {
  background: url("../../images/tweed.png");
}
@media only screen and (min-width: 768px) {
  .footer {
    min-height: 324px;
    background-image: url("../../images/bg-footer-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.main-footer {
  padding-top: 20px;
}
.main-footer .box-column-footer h1 {
  text-transform: uppercase;
  color: #ccc;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 0;
}
.main-footer .box-column-footer .uk-list {
  margin-top: 0;
}
.main-footer .box-column-footer .uk-list li a {
  color: #ccc;
  text-decoration: none;
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.main-footer .box-column-footer .uk-list li a i {
  font-size: 10px;
  vertical-align: middle;
}
.main-footer .box-column-footer .uk-list li a:hover {
  color: gray;
}
@media only screen and (min-width: 768px) {
  .main-footer {
    padding-top: 150px;
  }
  .main-footer .box-column-footer h1 {
    font-size: 16px;
  }
}
.travel-style-box {
  text-align: center;
}
.travel-style-box .panel-short-intro a {
  text-decoration: none;
  font-weight: bold;
  color: #e10074;
}
.travel-style-box .panel-short-intro a:hover {
  color: #ee3695;
}
.list-about-link li {
  margin-bottom: 10px;
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 10px;
}
.list-about-link li:last-child {
  border-bottom: none;
}
.list-about-link li a {
  text-decoration: none;
  color: #807e7f;
}
.list-about-link li a:hover {
  color: #c7afbb;
}
.about-box .panel-short-intro a {
  text-decoration: none;
  color: #e10074;
  font-weight: bold;
}
.about-box .panel-short-intro a:hover {
  color: #f8389b;
}
.about-box .panel-short-intro p {
  margin-top: 5px;
}
.table-weather {
  border: 1px solid #aaa;
  background-color: #fff;
}
.table-weather tr {
  border-bottom: 1px solid #b2b2b2;
}
.table-weather tr td {
  border-right: 1px solid #b2b2b2;
}
.table-weather th {
  border-right: 1px solid #b2b2b2;
}
.slider-partner .uk-slider li a {
  display: block;
  font-size: 0;
}
.slider-partner .uk-slider li span {
  display: block;
  text-align: center;
  color: #ccc;
  margin-top: 10px;
}
.modal-countries .uk-modal-dialog {
  width: 300px;
}
.title-blog {
  font-family: "Arvo";
  font-size: 24px;
  line-height: 24px;
}
.title-day {
  font-family: "Arvo";
  font-size: 16px;
  line-height: 22px;
}
.tab-content {
  background-color: #fff;
  border: 1px solid #dddddd;
  border-top: none;
}
.tab-content .tab-panel {
  padding: 10px;
}
.tabRespon li a {
  font-weight: 600;
  color: #999899;
}
.tabRespon li a:hover {
  color: #999899;
}
.new-style-form input,
.new-style-form textarea {
  background-color: transparent !important;
  border-color: #bebfc0 !important;
}
.new-label {
  margin-right: 10px;
}
.special-control {
  margin-top: 10px;
}
@media (min-width: 961px) {
  .uk-form-horizontal .uk-form-label {
    width: 250px;
  }
  .uk-form-horizontal .uk-form-controls {
    margin-left: 265px;
  }
}
@media (max-width: 481px) {
  .new-label {
    display: block;
    margin-right: 0;
  }
}
.inner-trip-search {
  width: 300px;
  max-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.inner-trip-search .trip-search-content {
  background-color: #f3f3f3;
  padding: 10px;
}
.inner-trip-search .uk-tab li a {
  text-decoration: none;
  border-color: transparent;
  background-color: #fff;
  color: #000;
}
.inner-trip-search .uk-tab li.uk-active a {
  background: #f3f3f3 !important;
}
.form-search-trip .uk-form-label {
  width: 100px;
  color: #000;
}
.form-search-trip .uk-form-controls {
  margin-left: 115px;
}
.form-search-trip .btn-search-trip {
  background-color: #ff0300;
  color: #ffffff;
}
@media (max-width: 960px) {
  .form-search-trip .uk-form-label {
    float: left;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0;
  }
}
